div.css-6qob1r.e1fqkh3o3 {
    background-color: #4c85e4;
    border: 2px solid #CCCCCC;
    padding: 5% 1% 5% -1%;
    border-radius: 5px;
}

.css-163ttbj {
    position: relative;
    top: 2px;
    background-color: rgb(240, 242, 246);
    z-index: 999991;
    min-width: 400px;
    max-width: 400px;
    transform: none;
    transition: transform 300ms ease 0s, min-width 300ms ease 0s, max-width 300ms ease 0s;
}

.css-629wbf {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    border-radius: 0.25rem;
    margin-left: 100px;
    line-height: 1.6;
    color: inherit;
    width: 150px;
    user-select: none;
    background-color: rgb(30 228 30);
    border: 1px solid rgba(49, 51, 63, 0.2);
}

.st-c8 {
    padding-bottom: 0.75rem;
}

.st-c9 {
    padding-left: 0.5rem;
}
.st-af {
    font-size: 1.2rem;
}

.st-ae {
    font-family: "IBM Plex Sans", sans-serif;
}



h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight:700;
    color: rgb(38, 39, 48);
    margin: 1.5rem 0px 0.5rem;
    padding: 0.5em 0px 0.25em;
    line-height: 1;
}

p, ol, ul, dl {
    margin: 0px 0px 1rem;
    padding: 0px;
    font-size: 1.35rem;
    font-weight: 500;
}


